<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koperasi Siswa</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='03.Beranda_utama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global-fix.css') }}">

</head>
<body>

    <!-- Tombol -->
    <div class="tombol-group">
        <a href="{{ url_for('admin_login') }}">
            <button class="admin-btn">Masuk Admin</button>
        </a>
        <a href="{{ url_for('pembeli_home') }}">
            <button class="admin-btn">Masuk Pembeli</button>
        </a>
    </div>

    <!-- Konten -->
    <div class="container">

        <div class="title-box">
            Selamat Datang
        </div>

        <h1>
            di Koperasi <br> Siswa
        </h1>

        <p>
            Koperasi siswa adalah organisasi di sekolah yang dikelola oleh siswa dengan bimbingan guru. Koperasi ini menyediakan kebutuhan sekolah seperti alat tulis, makanan, dan seragam. Tujuan koperasi siswa adalah melatih kerja sama, tanggung jawab, dan jiwa usaha pada siswa.
        </p>

        <img src="{{ url_for('static', filename='logo_3.png') }}" class="logo_2">

    </div>
</body>
</html>