<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengisian Barang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global-fix.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='10.pengisian_barang_habis.css') }}">
</head>
<body>

    <nav>
        <div class="nav-bar">
            <li>
                <a href="{{ url_for('admin_dashboard') }}"><img src="{{ url_for('static', filename='back-svgrepo-com.svg') }}" alt="Kembali" width="30px" height="30px"></a>
            </li>
            <img src="{{ url_for('static', filename='newlogo.jpeg') }}" alt="Logo" width="70" height="70">
            <span>Admin Koperasi</span>
        </div>
        <ul>
            <li><a href="{{ url_for('admin_notifikasi') }}"><img src="{{ url_for('static', filename='bell-notification-ui-svgrepo.svg') }}" alt="Notifikasi" width="30px" height="30px"></a></li>
            <li><a href="{{ url_for('admin_pengaturan') }}"><img src="{{ url_for('static', filename='setting-svgrepo.svg') }}" alt="Setting" width="30px" height="30px"></a></li>
            <li><a href="{{ url_for('admin_kelola_akun_penjual') }}"><img src="{{ url_for('static', filename='profile-circle-svgrepo.svg') }}" alt="Pengguna" width="30px" height="30px"></a></li>
            <li><a href="{{ url_for('admin_logout') }}"><img src="{{ url_for('static', filename='logout-line-svgrepo.svg') }}" alt="Keluar" width="30px" height="30px"></a></li>
        </ul>
    </nav>

    <div class="container">

        <div class="card">

            <h2>PENAMBAHAN BARANG HABIS</h2>

            <form action="{{ url_for('admin_simpan') }}" method="POST">

                <label>Kategori</label>
                <select name="kategori" required>
                    <option value="">Pilih Kategori</option>
                    <option value="Makanan">Makanan</option>
                    <option value="Minuman">Minuman</option>
                    <option value="Alat Tulis">Alat Tulis</option>
                </select>

                <label>Nama Barang</label>
                <input type="text" name="nama_barang" required>

                <label>Harga</label>
                <input type="number" name="harga" min="0" step="1" required>

                <label>Jumlah</label>
                <input type="number" name="jumlah" min="0" step="1" required>

                <button type="submit">SIMPAN</button>

            </form>

        </div>

    </div>

</body>
</html>
