<!DOCTYPE html>
<html>
    <head>
        <title>Laporan Penjualan</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='15.Laporan_Penjualan.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global-fix.css') }}">

        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
    </head>
    <body>
        <nav>
            <div class="nav-bar">
                <li>
                    <a href="/admin/dashboard"><img src="{{ url_for('static', filename='back-svgrepo-com.svg') }}" alt="Kembali" width="30px" height="30px"></a>
                </li>
                <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo" width="70" height="70">
                <span>Koperasi Siswa</span>
            </div>
            <ul>
                <li>
                    <a href="/admin/notifikasi"><img src="{{ url_for('static', filename='bell-notification-ui-svgrepo.svg') }}" alt="Notifikasi" width="30px" height="30px"></a>
                </li>
                <li>
                    <a href="/admin/pengaturan"><img src="{{ url_for('static', filename='setting-svgrepo.svg') }}" alt="Setting" width="30px" height="30px"></a>
                </li>
                <li>
                    <a href="/admin/kelola_akun_penjual"><img src="{{ url_for('static', filename='profile-circle-svgrepo.svg') }}" alt="Pengguna" width="30px" height="30px"></a>
                </li>
                <li>
                    <a href="/admin/logout"><img src="{{ url_for('static', filename='logout-line-svgrepo.svg') }}" alt="Keluar" width="30px" height="30px"></a>
                </li>
            </ul>
        </nav>
        <span class="Judul">Laporan Penjualan (Untung/Rugi)</span>
        <div class="Isi">
            <form method="POST">
                <div class="kalender">
                    <select name="bulan" id="bulan" onchange="this.form.submit()">
                        <option value="1" {% if bulan == 1 %}selected{% endif %}>Januari</option>
                        <option value="2" {% if bulan == 2 %}selected{% endif %}>februari</option>
                        <option value="3" {% if bulan == 3 %}selected{% endif %}>Maret</option>
                        <option value="4" {% if bulan == 4 %}selected{% endif %}>April</option>
                        <option value="5" {% if bulan == 5 %}selected{% endif %}>Mei</option>
                        <option value="6" {% if bulan == 6 %}selected{% endif %}>Juni</option>
                        <option value="7" {% if bulan == 7 %}selected{% endif %}>Juli</option>
                        <option value="8" {% if bulan == 8 %}selected{% endif %}>Agustus</option>
                        <option value="9" {% if bulan == 9 %}selected{% endif %}>September</option>
                        <option value="10" {% if bulan == 10 %}selected{% endif %}>oktober</option>
                        <option value="11" {% if bulan == 11 %}selected{% endif %}>November</option>
                        <option value="12" {% if bulan == 12 %}selected{% endif %}>Desember</option>
                    </select>
                <input type="date" name="tanggal"
                value="{{tanggal }}"
                min="{{ tanggal_min }}"
                max="{{ tanggal_max }}"
                onchange="this.form.submit()">
                </div>
            </form>
            <div class="kotak_besar">
                <div class="Total_transaksi">
                    <span>Total Transaksi</span>
                    <span>{{TT}}</span>
                </div>
                <div class="Total_Pendapatan">
                    <span>Total Pendapatan</span>
                    <span>{{TP}}</span>
                </div>
                <div class="Modal_Barang">
                    <span>Modal Barang</span>
                    <span>{{MB}}</span>
                </div>
                <div class="Untung_Rugi">
                    <span>Untung/Rugi</span>
                    <span>{{UG}}</span>
                </div>
                <div class="Kolom_Diagram_1">
                    <div class="Diagram_Produk_Terlaris">
                        <canvas id="chart_produk_terlaris" data-nama-produk='{{ NP | tojson }}' data-jumlah-produk='{{ JP | tojson}}' data-warna-diagram='{{ WPT | tojson }}' style="width:300px" height="300px"></canvas>
                        <script>
                            const canvas1 = document.getElementById("chart_produk_terlaris");
                            const xValues1 = JSON.parse(canvas1.dataset.namaProduk);
                            const yValues1 = JSON.parse(canvas1.dataset.jumlahProduk);
                            const barColors1 = JSON.parse(canvas1.dataset.warnaDiagram);
                            new Chart(canvas1, {
                                type: "doughnut", 
                                data: {
                                    labels: xValues1,
                                    datasets: [{
                                        backgroundColor: barColors1,
                                        data: yValues1
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    plugins: {
                                        legend: {display:true},
                                        title: {
                                            display: true,
                                            text: "Diagram Produk Terlaris",
                                            font: {size:16}
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div style="width:1px; height:100px; background:black;"></div>
                    <div class="Diagram_Pendapatan_Perkategori">
                        <canvas id="Chart_Pendapatan_Perkategori" data-kategori='{{ KT | tojson }}' data-pendapatan='{{ PPK | tojson}}' data-warna-diagram='{{ WPP | tojson }}' style="width:300px" height="300px"></canvas>
                        <script>
                            const canvas2 = document.getElementById("Chart_Pendapatan_Perkategori");
                            const xValues2 = JSON.parse(canvas2.dataset.kategori);
                            const yValues2 = JSON.parse(canvas2.dataset.pendapatan);
                            const barColors2 = JSON.parse(canvas2.dataset.warnaDiagram);
                            new Chart(canvas2, {
                                type: "bar",
                                data: {
                                    labels: xValues2,
                                    datasets: [{
                                        backgroundColor: barColors2,
                                        data: yValues2
                                    }]
                                },
                                options: {
                                    plugins: {
                                        legend: {display: false},
                                        title: {
                                            display: true,
                                            text: "Pendapatan Perkategori",
                                            font: {size: 16}
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                <div class="Kolom_Diagram_2">
                    <div class="Diagram_Perbadingan_Pendapatann_Tiap_Bulan">
                        <canvas id="Chart_Perbadingan_Pendapatan_Tiap_Bulan" data-pendapatan-bulan='{{ PL | tojson }}' data-pendapatan-perbulan='{{ PPB | tojson}}' style="width:400px" height="400px"></canvas>
                        <script>
                            const canvas3 = document.getElementById("Chart_Perbadingan_Pendapatan_Tiap_Bulan");
                            const xValues3 = JSON.parse(canvas3.dataset.pendapatanBulan);
                            const yValues3 = JSON.parse(canvas3.dataset.pendapatanPerbulan);
                            new Chart(canvas3, {
                                type: "line",
                                data: {
                                    labels: xValues3,
                                    datasets: [{
                                        data: yValues3,
                                        borderColor: "blue",
                                        fill: false,
                                        tension: 0.4
                                    }]
                                },
                                options: {
                                    plugins: {
                                        legend: {display: false},
                                        title: {
                                            display: true,
                                            text: "Perbandingan Pendapatan Tiap Bulan Tahun 2026",
                                            font: {size: 16}
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div style="width:1px; height:100px; background:black;"></div>
                    <div class="Diagram_Perbandingan_Jumlah_Transaksi_Tiap_Bulan">
                        <canvas id="Chart_Perbadingan_Jumlah_Transaksi_Tiap_Bulan" data-transaksi-perbulan='{{ TSP | tojson }}' data-jumlah-transaksi-perbulan='{{ JTP | tojson}}' style="width:400px" height="400px"></canvas>
                        <script>
                            const canvas4 = document.getElementById("Chart_Perbadingan_Jumlah_Transaksi_Tiap_Bulan");
                            const xValues4 = JSON.parse(canvas4.dataset.transaksiPerbulan);
                            const yValues4 = JSON.parse(canvas4.dataset.jumlahTransaksiPerbulan);
                            new Chart(canvas4, {
                                type: "line",
                                data: {
                                    labels: xValues4,
                                    datasets: [{
                                        data: yValues4,
                                        borderColor: "blue",
                                        fill: false,
                                        tension: 0.4
                                    }]
                                },
                                options: {
                                    plugins: {
                                        legend: {display: false},
                                        title: {
                                            display: true,
                                            text: "Perbandingan Jumlah Transaksi Tiap Bulan Tahun 2026",
                                            font: {size: 16}
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>    
            <div class="Cetak">
                <button>Cetak</button>
            </div>
    </body>
</html>