{% from 'macros.html' import admin_header %}
<!doctype html>
<html lang="id">

<head>
  <title>Pengaturan Profil</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='22.pengaturan_umum.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global-fix.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
  {{ admin_header('Pengaturan Profil') }}

  <div class="h1-container">
    <div class="gear-icon-wrapper">
      <i class="fa-solid fa-gear"></i>
    </div>
    <h1>Pengaturan Profil</h1>
  </div>
  <form action="{{ url_for('admin_simpan_pengaturan') }}" method="POST" class="form-profil" enctype="multipart/form-data">
    <label>Nama Koperasi</label>
    <input type="text" name="nama" value="{{ nama }}" />

    <label>Deskripsi</label>
    <textarea name="deskripsi">{{ deskripsi }}</textarea>

    <label>Alamat</label>
    <input type="text" name="alamat" value="{{ alamat }}" />

    <label>Telepon</label>
    <input type="text" name="telepon" value="{{ telepon }}" />

    <label>Jam Operasional</label>
    <input type="text" name="jam" value="{{ jam }}" />

    <label>Hari Operasional</label>
    <input type="text" name="hari" value="{{ hari }}" />

    <label>Unggah Logo Baru</label>

    <div class="upload-box">
      <div class="upload">
        <p>Letakkan Media Disini</p>
        <span>Atau</span>
        <br />
        <label for="logo-input" class="btn-upload">pilih gambar</label>
        <input type="file" id="logo-input" name="gambar" accept=".jpg,.jpeg,.png,.svg" hidden />
      </div>
      {% if logo %}
        <img src="{{ url_for('static', filename=logo) }}" class="Logo" id="logo-preview" />
      {% else %}
        <img src="{{ url_for('static', filename='image/logo_3.png') }}" class="Logo" id="logo-preview" />
      {% endif %}
    </div>

    <button type="submit" class="btn-simpan">Simpan Pengaturan</button>
  </form>

  <script>
    document.getElementById('logo-input').addEventListener('change', function(e) {
      const file = e.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(ev) {
          document.getElementById('logo-preview').src = ev.target.result;
        };
        reader.readAsDataURL(file);
      }
    });
  </script>

</body>

</html>