<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi Koperasi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='informasi.css') }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<img src="../static/gambar/ndangak.png" class="bg-maskot">
        <a href="/" class="kembali">
            <i class="fa-solid fa-arrow-left"></i> Kembali
        </a>

        <h1>Informasi Koperasi</h1>
        <p class="subjudul">
            Berikut adalah informasi resmi koperasi sekolah
        </p>

        <div class="container">

            <div class="item">
                <div class="icon">
                    <i class="fa-solid fa-school"></i>
                </div>

                <div class="text">
                    <h3>Nama Koperasi Sekolah</h3>
                    <p>{{ koperasi.get('nama', '-') }}</p>
                </div>
            </div>

            <div class="item">
                <div class="icon">
                    <i class="fa-solid fa-file-lines"></i>
                </div>

                <div class="text">
                    <h3>Deskripsi</h3>
                    <p>{{ koperasi.get('deskripsi', '-') }}</p>
                </div>
            </div>

            <div class="item">
                <div class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>

                <div class="text">
                    <h3>Alamat</h3>
                    <p>{{ koperasi.get('alamat', '-') }}</p>
                </div>
            </div>

            <div class="item">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>

                <div class="text">
                    <h3>Nomor Telepon</h3>
                    <p>{{ koperasi.get('telepon', '-') }}</p>
                </div>
            </div>

            <div class="item">
                <div class="icon">
                    <i class="fa-regular fa-clock"></i>
                </div>

                <div class="text">
                    <h3>Jam Operasional</h3>
                    <p>{{ koperasi.get('jam', '-') }}</p>
                </div>
            </div>

            <div class="item">
                <div class="icon">
                    <i class="fa-regular fa-calendar"></i>
                </div>

                <div class="text">
                    <h3>Hari Operasional</h3>
                    <p>{{ koperasi.get('hari', '-') }}</p>
                </div>
            </div>

        </div>

        <div class="logo-card">
            <h3>Logo Koperasi</h3>

            <img src="{{ url_for('static', filename='image/logo_3.png') }}" alt="Logo Koperasi">

            <p>
                Logo ini digunakan sebagai identitas resmi koperasi sekolah.
            </p>
        </div>


</body>
</html>
