<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Pesanan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global-fix.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='8-novalrizkym.css') }}">
</head>

<body>

<div class="background">
    <div class="container">
        <a href="/pembeli" class="back">
            ← Kembali
        </a>

        <div class="card">
            <h1>Status Pesanan</h1>

            <div class="status-box">
                <div class="status" id="dikemas" onclick="window.location.href='/pembeli/pesanan/dikemas'">
                    <div class="icon-circle">
                        <img src="{{ url_for('static', filename='cardboard-box-11-svgrepo-com (1).svg') }}" class="icon">
                        {% if count_dikemas > 0 %}
                        <span class="badge">{{ count_dikemas }}</span>
                        {% endif %}
                    </div>
                    <p>Dikemas</p>
                </div>

                <div class="status" id="siap-diambil" onclick="window.location.href='/pembeli/pesanan/siapdiambil'">
                    <div class="icon-circle">
                        <img src="{{ url_for('static', filename='shopping-bag-svgrepo-com (2).svg') }}" class="icon">
                        {% if count_siap > 0 %}
                        <span class="badge">{{ count_siap }}</span>
                        {% endif %}
                    </div>
                    <p>Siap Diambil</p>
                </div>

                <div class="status" id="selesai" onclick="window.location.href='/pembeli/pesanan/selesai'">
                    <div class="icon-circle">
                        <img src="{{ url_for('static', filename='check-mark-circle-svgrepo-com (1).svg') }}" class="icon">
                        {% if count_selesai > 0 %}
                        <span class="badge">{{ count_selesai }}</span>
                        {% endif %}
                    </div>
                    <p>Pesanan Selesai</p>
                </div>
            </div>

            <h1 class="judul-pesanan">Pesanan Saya</h1>

            <div class="pesanan-item">
                <span>Dikemas</span>
                <a href="/pembeli/pesanan/dikemas">
                    Lihat >
                </a>
            </div>

            <div class="pesanan-item">
                <span>Siap Diambil</span>
                <a href="/pembeli/pesanan/siapdiambil">
                    Lihat >
                </a>
            </div>

            <div class="pesanan-item">
                <span>Pesanan Selesai</span>
                <a href="/pembeli/pesanan/selesai">
                    Lihat >
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
