<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Pesanan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='8_2-novalrizkym.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global-fix.css') }}">
</head>
<body>

<div class="background">

    <div class="container">

        <a href="/pembeli/pesanan" class="back">← Kembali</a>

        <!-- Status Progress -->
        <div class="status-box atas">

            <div class="status {% if status == 'Disiapkan' or status == 'Siap diambil' or status == 'Selesai' or status == 'Sudah diambil' %}active{% endif %}">
                <img src="{{ url_for('static', filename='gambar-dan-icon/cardboard-box-11-svgrepo-com.svg') }}" class="icon-kecil">
                <p>Dikemas</p>
            </div>

            <div class="line {% if status == 'Siap diambil' or status == 'Selesai' or status == 'Sudah diambil' %}active-line{% endif %}"></div>

            <div class="status {% if status == 'Siap diambil' or status == 'Selesai' or status == 'Sudah diambil' %}active{% endif %}">
                <img src="{{ url_for('static', filename='gambar-dan-icon/shopping-bag-svgrepo-com-(1).svg') }}" class="icon-kecil">
                <p>Siap Diambil</p>
            </div>

            <div class="line {% if status == 'Selesai' or status == 'Sudah diambil' %}active-line{% endif %}"></div>

            <div class="status {% if status == 'Selesai' or status == 'Sudah diambil' %}active{% endif %}">
                <img src="{{ url_for('static', filename='gambar-dan-icon/check-mark-circle-svgrepo-com-(1).svg') }}" class="icon-kecil">
                <p>Selesai</p>
            </div>

        </div>

        <!-- Detail Produk -->
        <div class="detail-box">

            {% for item in barang %}
            <div class="produk">
                <div>
                    <h2>{{ item.nama }}</h2>
                    <p>{{ item.jumlah }} x {{ "{:,.0f}".format(item.harga).replace(",", ".") }}</p>
                </div>
                <div class="harga">
                    <h2>Rp {{ "{:,.0f}".format(item.jumlah * item.harga).replace(",", ".") }}</h2>
                </div>
            </div>
            {% endfor %}

            <hr>

            <div class="total">
                <div>
                    <p>Metode</p>
                    <h1>Total</h1>
                </div>
                <div class="harga">
                    <p>{{ metode }}</p>
                    <h1>Rp {{ "{:,.0f}".format(total).replace(",", ".") }}</h1>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>
